{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your account has been successfully created and activated!{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Your account has been created and is ready to use!{% endblocktrans %}

{% blocktrans %}Thanks for using our site!{% endblocktrans %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Your account has been created and is ready to use!{% endblocktrans %}</p>

<p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}