{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% blocktrans %}Your password has been changed!{% endblocktrans %}

{% blocktrans %}Thanks for using our site!{% endblocktrans %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Your password has been changed!{% endblocktrans %}</p>

<p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}